@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: unset;
	padding: unset;
	border: unset;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	all: unset;
	cursor: pointer;
}

textarea {
	all: unset;
}

/* Layout */
body {
	min-height: 100vh;
}

/* footer */
footer {
	all: unset;
}

/* img */
img {
	max-width: 100%;
	vertical-align: top;
}

/* input */
input {
	all: unset;
}

/* search input의 기본 clear 버튼 제거 */
input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button {
	display: none;
}

/* Theme for CSS Variables */
:root {
	--color-primary-light: #def7e5;
	--color-primary-base: #006d44;
	--color-primary-dark: #004127;

	--color-secondary-light: #f7dbbb;
	--color-secondary-base: #f1bc69;
	--color-secondary-dark: #856737;

	--color-white: #ffffff;
	--color-black: #000000;

	--color-base-100: #f5f5f5;
	--color-base-200: #e6e6e6;
	--color-base-300: #cfcfcf;
	--color-base-500: #7d7d7d;
	--color-base-700: #4f4f4f;
	--color-base-900: #1a1a1a;

	--color-alert: #b42318;
	--color-caution: #e0a800;
	--color-positive: #2e8b57;
}

/* Typography */
:root {
	font-size: 10px; /* 1rem = 10px */
}

body {
	font-family: 'Inter';
}

/* Tailwind Variables */
@layer components {
	.duration {
		@apply transition duration-300;
	}

	.ellipsis {
		@apply min-w-[0] overflow-hidden text-ellipsis whitespace-nowrap;
	}

	.full-inner {
		@apply max-w-[1280px] mx-auto;
	}
}
